<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Flask App</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('view') }}">View Data</a>
        <a href="{{ url_for('sql') }}">Execute SQL</a>
        <a href="{{ url_for('delete') }}">Delete Rows</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>



